body{
    margin: 0;
    padding: 0;
    background-color: #218192 ;
}

.funciones{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.funciones h4{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #000000 ;
    margin-bottom: 40px;
    padding: 13px 0;
}

input[type=submit] {
    width: 100%;
    background: none;
    border: 2.5px solid  #000000;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
table {
    width: 120%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
 }
 th.last, td.last {
    border-right: 0;
 }
 tfoot th, tfoot td {
    border-bottom: 0;
    text-align: center;
 }
 th {
    width: 25%;
 }